.colorNav{
    color: aliceblue;
}
.tamNav{
    width: 100px;
    height: 75px;
}
h1{
    text-align: center;
}
p{
    padding-top: 3%;
    font-size: larger;
}
.enredo{
    padding: 5%;
}
.Midia{
    padding: 5%;
}
.descidinha{
    padding-bottom: 4%;
}
.capitulos{
    padding: 5%;
}
